body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.ul{
  margin: auto;
  width: 60%;
  background-color: blueviolet;
  height: auto;
  margin-top: 40px;
  list-style-type: none;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}

@media  only screen and (max-width:600px) {
  .ul{
    width: 100%;
  }
}